<!-- <app-nav-bar></app-nav-bar> -->
<app-nav-bar></app-nav-bar>
<div class="jumbotron">
  <div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">RSVP Add invitations and send invitations</div>
      <div class="form-container">

  <mat-form-field>
    <textarea matInput placeholder="Invitee name" [(ngModel)]="rsvpInvitationModel.inviteeName" ngModel #inviteeName="ngModel"
      required pattern="[a-zA-Z][a-zA-Z]+"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="Invitee Email id" [(ngModel)]="rsvpInvitationModel.inviteeEmail" ngModel #inviteeEmail="ngModel"
      required ></textarea>
  </mat-form-field>
  <!-- pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"></textarea>
  -->
  <!-- <div *ngIf="emailUser.touched" class="alert alert-danger">
    <div *ngIf="emailUser.errors?.required">
      please enter fullname
    </div>
  </div> -->

  <mat-form-field>
    <textarea matInput placeholder="phone no" [(ngModel)]="rsvpInvitationModel.inviteePhoneNo" ngModel #inviteeName="ngModel"
      required ></textarea>
  </mat-form-field>

  <p align="center">

    <button type="submit" class="example-button" name="button" class="btn btn-success" class="button" (click)="onSubmit()" >save </button>
    <br>
    <br>
      <button type="submit" class="example-button" name="button" class="btn btn-success" class="button" (click)="onSubmit2()" >send invitations </button>
    <br>
    </p>
  



</div>
</div>
</div>
</div>
