<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter a Movie">
  </mat-form-field>
  <br>
  <mat-form-field>
    <mat-select placeholder="Select Theater " [formControl]="movieEventControl">
      <mat-option>-- None --</mat-option>
      <mat-optgroup *ngFor="let group of theatreGroups" [label]="group.name" [disabled]="group.disabled">
        <mat-option *ngFor="let theatre of group.theatre" [value]="theatre.value">
          {{theatre.viewValue}}
        </mat-option>
      </mat-optgroup>
    </mat-select>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker" placeholder="Choose a starting date">
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput [matDatepicker]="picker1" placeholder="Choose an ending date">
    <mat-datepicker-toggle matSuffix [for]="picker1"></mat-datepicker-toggle>
    <mat-datepicker #picker1></mat-datepicker>
  </mat-form-field>


  <!-- <span
            ion-button
            float-left
            icon-left
            clear
            (click)="addNewInputField()">
               <ion-icon name="add"></ion-icon>
               Add a new technology
         </span> -->
  <br>








  <button type="submit" class="example-button" name="button" class="btn btn-success">Submit</button>

</div>