<header class="navbar navbar-expand-sm navbar-dark bg-info fixed-top">
  <div class="container">
    <button class="navbar-toggler" data-target="#navbarCollapse" data-toggle="collapse" type="button">
      <span class="navbar-toggler-icon"></span>
    </button>
    <a class="navbar-brand" id="heading" matTooltip="Home" routerLink="/home">E-PLAY</a>
    <!-- navbar -->
    <nav class="navbar-collapse collapse" id="navbarCollapse">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <!-- <app-side-nav></app-side-nav> -->
          <button mat-raised-button [matMenuTriggerFor]="menu" color="primary">Filters</button>

          <mat-menu #menu="matMenu">
            <form [formGroup]="form" (ngSubmit)="submit()" class="menuToggle">
              <label formArrayName="genresList">
                <div *ngFor="let genres of form.controls.genresList.controls; let i = index">
                  <mat-checkbox type="checkbox" [formControlName]="i" (click)="$event.stopPropagation()"></mat-checkbox> {{genresList[i].moviegenre}}
                </div>
              </label>
              <br>
              <!-- <div *ngIf="!form.valid">At least one order must be selected</div> -->
              <div>
                <button mat-raised-button color="primary">Select</button>
              </div>
              <br>
              <div>
                <button type="reset" mat-raised-button color="primary">Reset</button>
              </div>
            </form>
          </mat-menu>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item active">
          <a routerLink="/changeCity" matTooltip="Change your city" class="nav-link">Change City</a>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
      </ul>

      <ul class="navbar-nav ">
        <li class="nav-item">
          <form class="form-inline">
            <input type="text" class="form-control" id="searchbar">
          </form>
        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <!-- <a matTooltip="Click to search Movies" (click)="onSearch()" routerLink="/search">Search for latest Movies</a> -->
          <button class="mat-raised-button mat-primary" matTooltip="Click to search movies" (click)="onSearch()" routerLink="/search">Search for latest Movies</button>
        </li>
      </ul>

      <ul class="navbar-nav ml-auto">
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <button mat-raised-button matTooltip="Click to quickly Signup" routerLink="/userRegistration" routerLinkActive="active" *ngIf="!authenticationService.loggedIn()">Login/SignUp</button>
          
              <button mat-raised-button (click)="authenticationService.logout()" *ngIf="authenticationService.loggedIn()">Logout</button>
          



        </li>
        <li class="nav-item">
          <a href="#" class="nav-link"></a>
        </li>
        <li class="nav-item">
          <button matTooltip="Click to create an Event" routerLink="/createEvent" routerLinkActive="active" matTooltipClass="example-tooltip-red"
            aria-label="Button that shows a red tooltip" class="example-button" mat-raised-button>Create Event</button>
        </li>
        <!-- <li class="dropdown nav-item">
          <a href="#" class="dropdown-toggle nav-link" data-toggle="dropdown" id="usercaret">
            <span>Create</span>
          </a>
          <ul class="dropdown-menu" id="userDrop">
            <li>
              <button mat-raised-button matTooltip="Click to create an Event" routerLink="/createEvent" routerLinkActive="active" matTooltipClass="example-tooltip-red"
                  aria-label="Button that shows a red tooltip" class="example-button" mat-raised-button>Create Event</button>
               <a matTooltip="Click to create an Event" [routerLink]="['/createEvent']" class="dropdown-item">Create Event</a>
            </li>
            <li>
            </li>

          </ul>
        </li> -->
      </ul>
    </nav>
    <!-- navbar -->
  </div>
</header>