/* .img {
    width: 100%;
    margin-bottom: 18%;
  }
  .card-picture {
    width: 23%;
    margin-bottom: 2%;
  }
  .container {
    min-height: 100%;
    width: 100%;
  }
  .search-form {
    width: 90%;
  }
   */

/* .navbarSection {
  margin: auto;
} */
.menuToggle{
  padding-top: 50px;
  background-color :#d2e6e9;
  width: 100px
}
.menuT{
  margin-top: 100px;
  background-color :#941374;
}
.flex-container {
  background-color: #050644;
  color: #f3f3ef;
  /* background-color:#5f4c4c; */
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  /* height: 75px; */
}

.column {
  flex: 30%;
  max-width: 30%;
  margin: 27px;
  /* margin-top: 20px; */
}
/* .image{
  background-image: url("eplayLogo.jpeg");

} */

/* .example-button{
  margin-top: -2px;
} */
/* Responsive layout - makes a two column-layout instead of four columns */
@media (max-width: 800px) {
  .column {
    flex: 40%;
    max-width: 40%;
  }
}

@media (max-width: 600px) {
  .column {
    flex: 40%;
    max-width: 40%;
  }
}

.mat{
  margin-top: 75px;
}

/* carousel */

mat-menu{
  margin-top: 45px important!;
}

