<app-nav-bar></app-nav-bar>     
<div class="name">
  <h2>Theatre Layout</h2>
</div>
<hr>
<div class="ArenaLayout">
  <div class="rows" *ngFor= "let row of totalRow">
    <div class="columns" *ngFor= "let col of totalCol">
      <div *ngIf="col!=2 && col!=7 && row!=6; else Passage"> 
        <div id = {{row}}{{col}} class="seat available" (click)="onclick(row,col)">
            {{row}}{{col}}
        </div>
      </div>
      <ng-template #Passage>
        <div class=" seat1 passage"></div>
      </ng-template> 
    </div>
  </div>
</div>
<div class="screen">
    Screen this way
</div>
<div class="bookButton">
    <button mat-raised-button color="primary" (click)="bookticket()">Proceed</button>
</div>