<!DOCTYPE html>
<html>
  <head>
    <script src="./assets/socket.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/sockjs-client/sockjs.min.js"></script>
    <script src="/webjars/stomp-websocket/stomp.min.js"></script>
  </head>

  <body>

<app-nav-bar></app-nav-bar>     
<div class="name">
  <h2>Theatre Layout</h2>
</div>
<hr>
<div class="ArenaLayout">
  <div class="rows" *ngFor= "let row of totalRow.values">
    <div class="columns" *ngFor= "let col of totalCol.values">
      <div *ngIf="col!=passage[row-1] && col!=passage[row] && col!=passage[row+1]
       && col!=passage[row+2] && col!=passage[row-2] && col!=passage[row-3]
       && col!=passage[row-4] && col!=passage[row-7] && col!=passage[row-8] 
       && col!=passage[row-6] && col!=passage[row-5] && col!=passage[row-9] 
       && row!=rowPassage; else Passage"> 
        <div id = {{row}}{{col}} class="seat available" (click)="onclick(row,col)">
            <!-- {{row}}{{col}} -->
        </div>
      </div>
      <ng-template #Passage>
        <div class=" seat1 passage"></div>
      </ng-template> 
    </div>
  </div>
</div>
<div class="screen">
    Screen this way
</div>
<div class="bookButton">
    <button mat-raised-button color="primary" (click)="bookticket()" routerLink="/payment">Proceed</button>
</div>
  </body>
</html>
