<app-nav-bar></app-nav-bar>     
<div class="name">
  <h2>Theatre Layout</h2>
</div>
<hr>
<div class="ArenaLayout">
  <div class="rows" *ngFor= "let row of totalRow">
    <div class="columns" *ngFor= "let col of totalCol"> 
      <div id = {{row}}{{col}} class="seat available" (click)="onclick(row,col)">
      </div> 
    </div>
  </div>
</div>
<div class="screen">
    Screen this way
</div>
<div class="bookButton">
    <button mat-raised-button color="primary" (click)="bookticket()">Proceed</button>
</div>