/* .mat-card-image {
  height: 400px;
  width: 350px;
} */


.img {
  width: 100%;
  margin-bottom: 18%;
}
.card-picture {
  width: 23%;
  margin-bottom: 2%;
}
.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}


.flex-container {
  /* background-color: #008b8b;
  color: #f3f3ef; */
  /* background-color:#5f4c4c; */
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  /* height: 75px; */
}