/* .mat-card-image {
  height: 400px;
  width: 350px;
} */
/* .row{
  margin-bottom: 5%;
  width: 100%
} */
mat-grid-list {
  margin-top: 50px;
}
mat-card {
  box-shadow: 5px 5px 0 #3d3a3a;
  width: 90%;
  border: 2px solid rgb(248, 244, 244);
  border-radius: 25px;
  /* border : 12px dashed #1b1a19; */
  /* border : 3px dashed #ccc; */
  /* background: #5bc0de */
  background: #33b5e5;
  /* width: auto */
}
h5{
  font-family: "Anton", sans-serif;
  /* font-family: "Lobster", cursive; */
}
/* .card-picture {
  width: 23%;
  margin-bottom: 2%;
  

} */
/* .example-card{
  background: url("/assets/images/background3.jpg") no-repeat center center; 
} */

.container {
  min-height: 100%;
  width: 100%;
}
.search-form {
  width: 90%;
}

.flex-container {
  /* background-color: #008b8b;
  color: #f3f3ef; */
  /* background-color:#5f4c4c; */
  display: flex;
  flex-wrap: wrap;
  align-items: stretch;
  justify-content: center;
  /* height: 75px; */
}
/* 
#features {
  margin-top: 75px;
  text-align: center;
}

#features img {
  margin :0 0 20px;
  height: 250px;
  width: 300px;
} */
