
<mat-grid-list cols="12" rowHeight="100px">
 <mat-grid-tile colspan="4" rowspan="6">
   <mat-card class="example-card">
     <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>Movie</mat-card-title>
       <mat-card-subtitle>Click here to create a movie</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="https://thumbs.dreamstime.com/b/let-s-make-movie-clapper-board-film-making-message-words-to-create-video-other-project-entertainment-learning-56871288.jpg"
       alt="Movie Poster">

     <mat-card-actions>
       <button mat-raised-button color="primary" routerLink="/createMovieEvent" routerLinkActive="active">Create Movie</button>
     </mat-card-actions>
   </mat-card>
 </mat-grid-tile>

 <mat-grid-tile colspan="4" rowspan="6">
   <mat-card class="example-card">
     <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>RSVP</mat-card-title>
       <mat-card-subtitle>Click here to create an RSVP event</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="https://kaizenprint.co.uk/media/catalog/product/cache/1/image/574x288/9df78eab33525d08d6e5fb8d27136e95/r/s/rsvpheader_1.png"
       alt="Movie Poster">

     <mat-card-actions>
       <button mat-raised-button color="primary" routerLink="/createRSVPEvent" routerLinkActive="active">Create RSVP Event</button>
     </mat-card-actions>
   </mat-card>
 </mat-grid-tile>

 <mat-grid-tile colspan="4" rowspan="6">
   <mat-card class="example-card">
     <mat-card-header>
       <div mat-card-avatar class="example-header-image"></div>
       <mat-card-title>Other Events</mat-card-title>
       <mat-card-subtitle>Click here to create other events</mat-card-subtitle>
     </mat-card-header>
     <img mat-card-image src="https://iaaeknp.theshopfloor.in/uploads/event.jpg" alt="Movie Poster">

     <mat-card-actions>
       <button mat-raised-button color="primary" routerLink="/createOtherTicketedEvent" routerLinkActive="active">Create Other Event</button>
     </mat-card-actions>
   </mat-card>
 </mat-grid-tile>
</mat-grid-list>