 
 <div class="w3-container">
  <style>
  

table, th, td {
    border: 1px solid black;
}

table {
    width: 100%;
}

th {
    height: 50px;
}

.w3-container{
    background-color:grey;
}
    
    </style>
<table class="w3-table w3-bordered" >
  <thead>
    <tr>
       <th>S. No</th> 
      <th> Invitee name</th>
      <th>Invitee Email</th>
      <th>status</th>
      
    </tr>
  </thead>
  <tbody>
      
        <tr *ngFor="let name of rsvpModel.rsvpInvitation">
           <td>{{i}}</td> 
          <td> {{name.inviteeName}} </td>
          <td> {{name.inviteeEmail}} </td>
          <td> {{name.status}}</td>
        </tr>
      
  </tbody>
</table>
</div>

<br>
<h2>Click here to view Invitation page</h2>
<button type="submit" class="example-button" name="button" class="btn btn-success" class="button" (click)="onSubmit1()" >My RSVP Invitation </button>  
<br>
<br>
<h2>Click here add more invitee</h2>
<button type="submit" class="example-button" name="button" class="btn btn-success" class="button" (click)="onSubmit2()" routerLink="/rsvpInvitation">Add more invitees </button>  
