table {
    border-collapse: collapse;
}

table, th, td {
    border: 2px solid black;
    opacity: 20%;
    
    font-family: 'Courier New', Courier, monospace;
    /* color:rgb(41, 41, 97); */
    
}
td{
    font-size: 20px;
}

table {
    align-self: auto;
    width: 80%;
    /* background-color:gainsboro; */
}

th {
    height: 50px;
    font-size: 25px;
    
}
tr:nth-child(odd) {
    /* background-color:white; */
}

tr:nth-child(even) {
    /* background-color: #dddddd; */
}

.example-container {
    
    display: flex;
    flex-direction: column;
    padding-top: 10px;
    margin-left: 435px;
    
   }
   
   .example-container > * {
    width: 50%;

   }
   
   .example-button {
    margin-left: 20px;
   }

   .button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}
.InvitationButton{
    width: 50%;
    

}

table {
    margin-top: 10px;
    counter-reset: tableCount;     
}
.counterCell:before {              
    content: counter(tableCount); 
    counter-increment: tableCount; 
}

.w3-container{
    width: 100%;

    background-image: url("3.jpg");
}