.mat-grid-list {
  margin-top: 10%;
  margin-bottom: 5%;
  
}
.mat-grid-tile{
    border-radius: 20px;
}
.mat-card {
  width: 200px;
  height: 200px;
  border-radius: 20px;
}

.render {
  width: 200px;
  height: 140px;
  overflow: hidden;
  border-radius: 20px;
}

.add-button {
  margin-left: 100px;
}

.summary {

    
  font-size: 20px;
  position: static;
  /* margin:auto; */
}

.details-display {
  margin:auto;
  color: black;
  overflow:hidden
}

.booking-button {
  margin-bottom: 60%;
}

#text {
    font-size: 14px;
    
}

#price {
    font-size: 14px;
    margin-top: -30px;
    margin-left: 150px;
}