.mat-grid-list{
    margin-top: 10%;
    margin-bottom: 5%;
}
.mat-card{
 width: 200px;
 height: 200px;
}

.render{
    width: 200px;
    height: 140px;;
    overflow: hidden;
}

.add-button {
    margin-left: 100px;
} 

.summary {
    font-size: 20px;
    margin-bottom: 30%;
}

.details-display {
    margin-right: 100px;
    margin-bottom: 40%;
    color: black;
}

.booking-button {
    margin-bottom: 60%;
}