<div class="example-container">


  <mat-form-field>
    <input matInput placeholder="Username" [(ngModel)]="userModel.username">
  </mat-form-field>

  <mat-form-field>
    <input matInput placeholder="Enter your password" [type]="hide ? 'password' : 'text'" [(ngModel)]="userModel.password">
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder="FullName" [(ngModel)]="userModel.fullName" ></textarea>
  </mat-form-field>
  <!-- <div *ngIf="fullNameUser.touched" class="alert alert-danger">
    <div *ngIf="fullNameUser.errors?.required">
      please enter fullname
    </div>
  </div> -->


  <mat-form-field>
    <textarea matInput placeholder="Contact Number" [(ngModel)]="userModel.contactNo" ></textarea>
  </mat-form-field>
  <!-- <div *ngIf="contactNoUser.touched" class="alert alert-danger">
    <div *ngIf="contactNoUser.errors?.required">
      please enter fullname
    </div>
  </div> -->

  <mat-form-field>
    <textarea matInput placeholder="Email id" [(ngModel)]="userModel.email" ></textarea>
  </mat-form-field>
  <!-- <div *ngIf="emailUser.touched" class="alert alert-danger">
    <div *ngIf="emailUser.errors?.required">
      please enter fullname
    </div>
  </div> -->

  <mat-form-field>
    <textarea matInput placeholder="City" [(ngModel)]="userModel.city" ></textarea>
  </mat-form-field>
  <!-- <div *ngIf="cityUser.touched" class="alert alert-danger">
    <div *ngIf="cityUser.errors?.required">
      please enter fullname
    </div>
  </div> -->

  <!-- <mat-form-field>
      <input matInput value="Disco party!" placeholder="Message" #message>
    </mat-form-field>
    
    <mat-form-field>
      <input matInput value="Dance" placeholder="Action" #action>
    </mat-form-field>
     -->

  <!-- <button mat-button class="btn btn-success" (click)="openSnackBar(message.value, action.value)">Submit</button> -->
  <button type="submit" class="example-button" name="button" class="btn btn-success">Submit</button>

</div>