mat-card{
    border :1px solid #999; 
    /* border : 12px dashed #1b1a19; */
    /* border : 3px dashed #ccc; */
    /* background: #5bc0de */
    background: #33b5e5;
}

h4, h2{
    text-align: left;
    text-shadow: 1px 1px;
    padding-bottom: 0;
    color: aliceblue
}