<app-nav-bar></app-nav-bar>
<div class="jumbotron">
  <div class="medium-list">
    <div class="list-viewer-wrapper">
      <div class="list-header-title">Ticketed Event</div>
      <div class="form-container">
        <mat-form-field>
          <input matInput placeholder="Event Name" [(ngModel)]="ticketedEvent.name" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput [matDatepicker]="picker" placeholder="Event Date" [(ngModel)]="ticketedEvent.date" required>
          <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Time" [(ngModel)]="ticketedEvent.time">
        </mat-form-field>


        <mat-form-field>
          <input matInput placeholder="City" [(ngModel)]="ticketedEvent.city" required>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Location" [(ngModel)]="ticketedEvent.location">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Poster" [(ngModel)]="ticketedEvent.poster">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Type" [(ngModel)]="ticketedEvent.type">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Capacity" [(ngModel)]="ticketedEvent.capacity">
        </mat-form-field>

        <mat-form-field>
          <textarea matInput placeholder="Description" [(ngModel)]="ticketedEvent.description"></textarea>
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Price" [(ngModel)]="ticketedEvent.price">
        </mat-form-field>

        <mat-form-field>
          <input matInput placeholder="Performers" [(ngModel)]="ticketedEvent.performers">
        </mat-form-field>

        <!-- <button type="submit" class="example-button" name="button" class="btn btn-success" (click)="submitTicketedEvent()">Submit</button> -->

      </div>
      <p align="center">
        <button type="submit" class="example-button" name="button" class="btn btn-secondary" (click)="submitTicketedEvent()">Create Event</button>
      </p>
    </div>
    <div>
    </div>