.datepickerdemoCalendar {
    /** Demo styles for mdCalendar. */ }
    .datepickerdemoCalendar label {
      font-size: x-small; }

      .example-container {
        display: flex;
        flex-direction: column;
        padding-top: 10px;
        margin-left: 435px;
        
       }
       
       .example-container > * {
        width: 50%;
    
       }
       