
<div class="example-container">
<h2>
  Event name:{{rsvpModel.name}}
</h2>
<h3>
     Location in city {{rsvpModel.location}} {{rsvpModel.city}}
   </h3>
<h3>
       Start Date:{{rsvpModel.startDate}} at start time {{rsvpModel.startTime}}
</h3>
<h3>
        End Date:{{rsvpModel.endDate}} at end time {{rsvpModel.endTime}}
</h3>
<h3>
      Description:{{rsvpModel.description}}
</h3>
<h3>
    Performers:{{rsvpModel.performers}}
</h3>
<h3>
   Notes:{{rsvpModel.notes}}
 </h3>
 <h3>
   Event Status:{{rsvpModel.isCompleted}}
 </h3>

 <mat-form-field>
    <textarea matInput placeholder="Your name" [(ngModel)]="rsvpInvitationModel.inviteeName" ngModel #inviteeName="ngModel"
      required pattern="[a-zA-Z][a-zA-Z]+"></textarea>
  </mat-form-field>

  <mat-form-field>
    <textarea matInput placeholder=" Email id" [(ngModel)]="rsvpInvitationModel.inviteeEmail" ngModel #inviteeEmail="ngModel"
      required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"></textarea>
  </mat-form-field>
 
  <h3>
      Are you attending?
      
  </h3>

  <!-- <input type="radio" value="male" name="gender" ngModel> Male
  <input type="radio" value="female" name="gender" ngModel> Female -->

  <mat-radio-group>
      <mat-radio-button value="1" [(ngModel)]="rsvpInvitationModel.Status" name="Status" ngModel #status="ngModel">I am attending</mat-radio-button>
      <br>
      <mat-radio-button value="2" [(ngModel)]="rsvpInvitationModel.Status" name="Status" ngModel #status="ngModel">I am not attending</mat-radio-button>

    </mat-radio-group>  
    <button type="submit" class="example-button" name="button" class="btn btn-success" (click)="onSubmit()">submit </button>
  </div>