<div class="image">
<div class="example-container">
    <mat-card [style.backgroundColor]="'#A5D8DD'">
<h3>
  Event name: {{rsvpModel.name}}
</h3>
<h4>
     Location: {{rsvpModel.location}}  
   </h4>

   <h4>
   City: {{rsvpModel.city}}
  </h4>
<h4>
       Start Date: {{rsvpModel.startDate}} at start time {{rsvpModel.startTime}}
</h4>
<h4>
        End Date: {{rsvpModel.endDate}} at end time {{rsvpModel.endTime}}
</h4>
<h4>
      Description: {{rsvpModel.description}}
</h4>
<h4>
    Performers: {{rsvpModel.performers}}
</h4>
<h4>
   Notes: {{rsvpModel.notes}}
 </h4>
 <h4>
   Event Status: {{rsvpModel.isCompleted}}
 </h4>
 <br>

 <mat-form-field>
    <textarea matInput placeholder="Your name" [(ngModel)]="rsvpInvitationModel.inviteeName" ngModel #inviteeName="ngModel"
      required pattern="[a-zA-Z][a-zA-Z]+"></textarea>
  </mat-form-field>
<br>
  <mat-form-field>
    <textarea matInput placeholder=" Email id" [(ngModel)]="rsvpInvitationModel.inviteeEmail" ngModel #inviteeEmail="ngModel"
      required pattern="^([a-zA-Z0-9_\-\.]+)@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.)|(([a-zA-Z0-9\-]+\.)+))([a-zA-Z]{2,4}|[0-9]{1,3})(\]?)$"></textarea>
  </mat-form-field>
 
  <h3>
      Are you attending?
      
  </h3>

  <!-- <input type="radio" value="male" name="gender" ngModel> Male
  <input type="radio" value="female" name="gender" ngModel> Female -->

  <mat-radio-group>
      <mat-radio-button value=true name="Status" [(ngModel)]="rsvpInvitationModel.Status"  ngModel #status="ngModel">I am attending</mat-radio-button>
      <br>
      <mat-radio-button value=false name="Status" [(ngModel)]="rsvpInvitationModel.Status"  ngModel #status="ngModel">I am not attending</mat-radio-button>

    </mat-radio-group>  
    <button type="submit" class="example-button" name="button" class="btn btn-success" (click)="onSubmit()">submit </button>
 </mat-card>
  </div>
</div>