
logging:
 file: logs/dev_app.log
 pattern:
   console: "%d %-5level %logger : %msg%n"
   file: "%d %-5level [%thread] %logger : %msg%n"
 level:
   org.springframework.web: DEBUG
   com.stackroute.movieapp.controller: DEBUG
   org.hibernate: DEBUG
   
   
spring:
  data:
      mongodb:
         uri: mongodb://0.0.0.0:27000/test