<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onclick1()" routerLink="/home" routerLinkActive="active" class="btn btn-primary-outline pull-right"
          style="margin-left: 8px">
          delhi</button>
      </mat-card-actions>
    </span>
    <span>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onclick2()" routerLink="/home" routerLinkActive="active" class="btn btn-primary-outline pull-right"
          style="margin-left: 300px">
          mumbai</button>
      </mat-card-actions>
    </span>
    <span>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onclick3()" routerLink="/home" routerLinkActive="active" class="btn btn-primary-outline pull-right"
          style="margin-left: 300px">
          banglore</button>
      </mat-card-actions>
    </span>
    <span>
      <mat-card-actions>
        <button mat-raised-button color="primary" (click)="onclick4()" routerLink="/home" routerLinkActive="active" class="btn btn-primary-outline pull-right"
          style="margin-left: 300px">
          hyderabad</button>
      </mat-card-actions>
    </span>
  </mat-toolbar-row>
</mat-toolbar>