/* You can add global styles to this file, and also import other style files */

/* Application-wide Styles */
@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';

body {
    -webkit-font-smoothing :antialiased;
    text-rendering: optimizeLegibility;
    font-family: 'Acme', sans-serif;
 }

