<app-nav-bar></app-nav-bar>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Name" [(ngModel)]="theatreModel.theatreName">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Location"  [(ngModel)]="theatreModel.theatreLocation">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Capacity" [(ngModel)]="theatreModel.capacity" >
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter City">
  </mat-form-field>
  <br>
  <button type="submit" class="example-button" name="button" class="btn btn-success" (click)="onSubmit()">Create Theatre</button>

</div>

