<app-nav-bar></app-nav-bar>
<div class="example-container">
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Name">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Location">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter Theatre Capacity">
  </mat-form-field>
  <br>
  <mat-form-field>
    <input matInput placeholder="Enter City">
  </mat-form-field>
  <br>
  <button type="submit" class="example-button" name="button" class="btn btn-success" (click)="onSubmit()">Create Theatre</button>

</div>

